# Salin ke .env lalu sesuaikan jika perlu
# cp .env.example .env

# Opsional
API_PORT=8001
UI_PORT=5000

# Path default media di container (biasanya tidak perlu diubah)
# BG_VIDEO_DEFAULT=/app/media/background-video.mp4
# AUDIO_DEFAULT=/app/media/music.mp3
